.dashboard__grid-container {
    display: flex;
    flex-flow: column;
    gap: 2em;
    margin: 0 auto;

    @media screen and (orientation: landscape) {
        flex-flow: row;
        align-items: center;
    }
}

.dashboard__hours-display-container {
    display: grid;
    gap: 2em;

    @media screen and (orientation: landscape) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2);
    }
}