[submodule "fem-challenge-newbie-project01-stack01"]
	path = fem-challenge-newbie-project01-stack01
	url = https://github.com/droopydev/fem-challenge-newbie-project01-stack01.git
[submodule "fem-challenge-newbie-project02-stack01-"]
	path = fem-challenge-newbie-project02-stack01-
	url = https://github.com/droopydev/fem-challenge-newbie-project02-stack01-.git
[submodule "fem-challenge-newbie-project01-stack02"]
	path = fem-challenge-newbie-project01-stack02
	url = https://github.com/droopydev/fem-challenge-newbie-project01-stack02.git
