.dashboard__hours-display-component {
    background-color: var(--color-neutral-blue-20);
    border-radius: var(--border-radius);

    &#work {
        background-color: var(--color-accent-orange);
    }
    &#play {
        background-color: var(--color-accent-light-blue);
    }
    &#study {
        background-color: var(--color-accent-red);
    }
    &#exercise {
        background-color: var(--color-accent-green);
    }
    &#social {
        background-color: var(--color-accent-purple);
    }
    &#selfcare {
        background-color: var(--color-accent-yellow);
    }

    &__banner {
        height: 2em;
        overflow: hidden;

        > img {
            float: right;
            top: -1em;
            right: 1em;
            position: relative;
        }
    }

    &__content {
        background-color: var(--color-neutral-blue-80);
        border-radius: var(--border-radius);
        padding: 1.5em;

        &-category {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: center;

            > h2 {
                font-size: var(--text-base);
            }
        }
        &-hours {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: center;

            > * {
                display: inline-block;
            }

            > h3 {
                font-weight: 200;
                font-size: var(--text-2xl);
            }
            > h4 {
                font-size: var(--text-xs);
                font-weight: 400;
                color: var(--color-neutral-blue-20)
            }
        }
    }
}