/* COLORS: Background Colors */
$color-background-white: hsl(var(--color-primary-20)) !default;
$color-background-primary: hsl(var(--color-primary-base)) !default;

/* COLORS: Text Colors */
$color-text-black: hsl(var(--color-neutral-black));
$color-text-white: var(--color-neutral-white);
$color-link-disabled: var(--color-neutral-gray);
$color-link: hsl(var(--color-neutral-black));

// Design Elements Colors
$color-border: hsl(var(--color-neutral-black));
$color-shadow: hsl(var(--color-neutral-black));

/* SHAPES */
$border-radius: 10px;

/* SPACING */
$mt-4: 1rem;

$mb-4: 1rem;

/* TYPOGRAPHY: Type Scale */
$text-2xs: calc(((1rem / var(--type-scale-ratio)) / var(--type-scale-ratio))/ var(--type-scale-ratio)); 
$text-xs: calc((1rem / var(--type-scale-ratio)) / var(--type-scale-ratio));
$text-sm: calc(1rem / var(--type-scale-ratio));
$text-base: 1rem;
$text-md: calc(1rem * var(--type-scale-ratio));
$text-lg: calc(var($text-md) * var(--type-scale-ratio));
$text-xl: calc(var($text-lg) * var(--type-scale-ratio));
$text-2xl: calc(var($text-xl) * var(--type-scale-ratio));
$text-3xl: calc(var($text-2xl) * var(--type-scale-ratio));



