:root {
  --color-primary-blue: hsl(246, 80%, 60%);
  --color-accent-orange: hsl(15, 100%, 70%);
  --color-accent-light-blue: hsl(195, 74%, 62%);
  --color-accent-red: hsl(348, 100%, 68%);
  --color-accent-green: hsl(145, 58%, 55%);
  --color-accent-purple: hsl(264, 64%, 52%);
  --color-accent-yellow: hsl(43, 84%, 65%);
  --color-neutral-blue-90: hsl(226, 43%, 10%);
  --color-neutral-blue-80: hsl(235, 46%, 20%);
  --color-neutral-blue-40: hsl(235, 45%, 61%);
  --color-neutral-blue-20: hsl(236, 100%, 87%);
  --color-neutral-white: #fff;
}

body {
  background-color: var(--color-neutral-blue-90);
  color: var(--color-neutral-white);
}

/* Box sizing rules */
* *::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --font-family: "Rubik", sans-serif;
  /* Base Value */
  /* Reference: https://type-scale.com/ */
  --root-base-size: 112.5%;
  --type-scale-ratio: 1.125;
  /* Type Scale */
  --text-2xs: calc(((1rem / var(--type-scale-ratio)) / var(--type-scale-ratio))/ var(--type-scale-ratio));
  --text-xs: calc((1rem / var(--type-scale-ratio)) / var(--type-scale-ratio));
  --text-sm: calc(1rem / var(--type-scale-ratio));
  --text-base: 1rem;
  --text-md: calc(1rem * var(--type-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--type-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--type-scale-ratio));
  --text-2xl: calc(var(--text-xl) * var(--type-scale-ratio));
  --text-3xl: calc(var(--text-2xl) * var(--type-scale-ratio));
}

html {
  font-size: var(--root-base-size);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-md);
}

h6 {
  font-size: var(--text-sm);
}

main {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.page-wrapper {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}

.dashboard__grid-container {
  display: flex;
  flex-flow: column;
  gap: 2em;
  margin: 0 auto;
}
@media screen and (orientation: landscape) {
  .dashboard__grid-container {
    flex-flow: row;
    align-items: center;
  }
}

.dashboard__hours-display-container {
  display: grid;
  gap: 2em;
}
@media screen and (orientation: landscape) {
  .dashboard__hours-display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
  }
}

.dashboard__profile-container {
  background-color: var(--color-neutral-blue-80);
  border-radius: var(--border-radius);
}
.dashboard__profile-bio-section {
  background-color: var(--color-primary-blue);
  border-radius: var(--border-radius);
  padding: 1.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.dashboard__profile-bio-section .image-container {
  border: 3px solid white;
  border-radius: 100%;
  display: inline-block;
  max-width: 70px;
  height: 100%;
}
.dashboard__profile-bio-section .image-container img {
  height: 100%;
}
.dashboard__profile-bio-section__copy span {
  display: block;
  font-size: var(--text-sm);
}
.dashboard__profile-bio-section__copy h1 {
  font-weight: 200;
  font-size: var(--text-lg);
}
.dashboard__profile-periodic-section {
  padding: 2em 0;
}
.dashboard__profile-periodic-section > ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.dashboard__profile-periodic-section li {
  flex: 1 0 33.3%;
  display: flex;
  justify-content: center;
}

.dashboard__hours-display-component {
  background-color: var(--color-neutral-blue-20);
  border-radius: var(--border-radius);
}
.dashboard__hours-display-component#work {
  background-color: var(--color-accent-orange);
}
.dashboard__hours-display-component#play {
  background-color: var(--color-accent-light-blue);
}
.dashboard__hours-display-component#study {
  background-color: var(--color-accent-red);
}
.dashboard__hours-display-component#exercise {
  background-color: var(--color-accent-green);
}
.dashboard__hours-display-component#social {
  background-color: var(--color-accent-purple);
}
.dashboard__hours-display-component#selfcare {
  background-color: var(--color-accent-yellow);
}
.dashboard__hours-display-component__banner {
  height: 2em;
  overflow: hidden;
}
.dashboard__hours-display-component__banner > img {
  float: right;
  top: -1em;
  right: 1em;
  position: relative;
}
.dashboard__hours-display-component__content {
  background-color: var(--color-neutral-blue-80);
  border-radius: var(--border-radius);
  padding: 1.5em;
}
.dashboard__hours-display-component__content-category {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard__hours-display-component__content-category > h2 {
  font-size: var(--text-base);
}
.dashboard__hours-display-component__content-hours {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard__hours-display-component__content-hours > * {
  display: inline-block;
}
.dashboard__hours-display-component__content-hours > h3 {
  font-weight: 200;
  font-size: var(--text-2xl);
}
.dashboard__hours-display-component__content-hours > h4 {
  font-size: var(--text-xs);
  font-weight: 400;
  color: var(--color-neutral-blue-20);
}

.btn {
  padding: 1em 2em;
}
.btn-text {
  background-color: transparent;
  padding: 0;
  border: 0;
  color: currentColor;
}

:root {
  --border-radius: 1rem;
}

/*# sourceMappingURL=main.css.map */
